<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.elvis.demo.support.mapper.CityMapper">
    <resultMap id="BaseResultMap" type="me.elvis.demo.support.pojo.City">
        <id column="CITY_ID" jdbcType="INTEGER" property="cityId"/>
        <result column="CITY_CODE" jdbcType="CHAR" property="cityCode"/>
        <result column="CITY_LEVEL" jdbcType="TINYINT" property="cityLevel"/>
        <result column="PROVINCE_CODE" jdbcType="CHAR" property="provinceCode"/>
        <result column="STATE" jdbcType="CHAR" property="state"/>
        <result column="CITY_NAME" jdbcType="VARCHAR" property="cityName"/>
        <result column="CITY" jdbcType="VARCHAR" property="city"/>
        <result column="PROVINCE" jdbcType="VARCHAR" property="province"/>
    </resultMap>

    <insert id="insertCity">
        insert into city_code_cn (city_code, city_level, province_code, city_name, city, province)
        values ( #{cityCode,jdbcType=CHAR}, #{cityLevel,jdbcType=INTEGER}, #{provinceCode,jdbcType=CHAR},
        #{cityName,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR} )
    </insert>
</mapper>